body {
  font-family: Helvetica;
  text-align: center;
  }
.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  background-repeat:no-repeat;
  color:white;
  }
.header a{
  color:white;
  }
h1 {
  font-size: 70px;
  font-weight:bold;
  }
li {
  font-size: 18px;
  list-style-type:none;
  color:white;
  }
h2 {
  font-size:32px;
  font-weight:bold;
  }
.mheader {
  font-size:23px;
  font-weight:bold;
  }
.designedbanner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-size:23px;
  font-weight:bold;
  color:white;
  }
.sheader {
  font-size:14px;
  }
#footer {
  background:dimgray;
  text-align:left;
  color:white;
  }
#footer .copyright {
  font-size:11px;
  color:white;
  }
#footer a {
  color:white;
  }
